<div class="main">
    <div class="container">
        <div class="row">
            <div class="nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Tech Meetups in Chicago</h1>
            </div>
        </div>
        <div class="row">
            <div class="head col-xs-12 col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    {{#each meetup}}
                    <div class="meetBox">
                        <a class="listing" href="{{this.link}}">{{this.title}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>