.head{
    background-image: url("../img/head.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 350px;
}

body{
    background: rgb(224, 224, 224);
    color: floralwhite;
}

.nav{
    background: rgb(54, 54, 54);
    height: 85px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.listing{
    color: black;
    font-size: 18px;
    /* margin: 20px; */
}

.meetBox{
    background: rgb(132, 160, 160);
    box-sizing: border-box;
    padding: 20px;
    float: left;
    height: 120px;
    width: 45%;
    margin: 5px;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 10px;
}

input{
    padding: 2px;
    margin: 5px;
    color: rgb(59, 59, 59);

}